<div class="header-myinfo alignleft clearfix">
    <a href="<%- config.root %>" class="alignleft">
        <img class="avatar" src="<%- theme.avatar %>" title="<%= config.title %><% if (config.subtitle){ %> | <%= config.subtitle %><% } %>">
    </a>
    <div class="header-myinfo-con">
        <h1 class="header-title"><%= config.title %></h1>
        <% if (config.subtitle){ %> 
            <span class="header-subtitle">
                <%= config.subtitle %>
            </span>
        <% } %>
    </div>
</div>
<nav id="main-nav" class="clearfix">
  <ul class="clearfix">
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
</nav>